<a href="https://colab.research.google.com/github/madhavjk/CP-Python/blob/main/Session_3_(Conditional_Statements).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2> Table of Comparison Operators </h2><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [ ]:
a = 5
b = 5
a == b

True

In [ ]:
a < b

False

In [ ]:
a > b

False

In [ ]:
a <= b

True

In [ ]:
a >= b

True

In [ ]:
a != b

False

# Chained Comparison Operators

An interesting feature of Python is the ability to *chain* multiple comparisons to perform a more complex test. You can use these chained comparisons as shorthand for larger Boolean Expressions.

In this lecture we will learn how to chain comparison operators and we will also introduce two other important statements in Python: **and** and **or**.

In [ ]:
1 < 2 < 3

True

In [ ]:
1 < 2 and 2 < 3

True

In [ ]:
1 < 2 > 3 < 4 < 5

False

In [ ]:
1 < 2 or 2 > 3

True

In [ ]:
not True

False

# Conditional Statements

## if

In [ ]:
if True:
    print('Hello')

Hello

In [ ]:
a = False
if a:
    print('Hello')

In [ ]:
a = 5
b = 6
if b>a:
    print(b)

6

# if else

In [ ]:
a = 5
b = 6
if a > b:
    print(a)
else:
    print(b)

6

In [ ]:
id = 101
password = 12345
if id == 101 and password == 12345:
    print('Access Granted')

Access Granted

In [ ]:
name = 'Mr x'
if name == 'Tom':
    print( 'hello Tom')
elif name == 'John':
    print( 'hello John')
elif name == 'Sam':
    print('hello Sam')
elif name == ' Munnalal':
    print("Ram Ram Munnalal")
else:
    print(' Hello whoever it is')

 Hello whoever it is

In [ ]:
if True:
    if 3 < 2:
        print('Hello')
    else: 
        print('Hi')

Hi

In [ ]:
a1 = int(input("Enter first num: "))
a2 = int(input("Enter sec num: "))
op = input("enter +,- or *: ")

if op=='+':
    print(a1+a2)
elif op=='-':
    print(a1-a2)
elif op=='*':
    print(a1*a2)
else:
    print("wrong operator")

Enter first num: 10
Enter sec num: 5
enter +,- or *: *
50